<h2>Author List</h2>
<table border="1" class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Books</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tr *ngFor="let a of authors">
    <td>{{a.id}}</td>
    <td>{{a.firstName}} {{a.lastName}}</td>
    <td>
      <div>
        <a routerLink="/book-list" [queryParams]="{author_id:a.id}" *ngIf="a.books.length>0"> {{a.books[0].bookName}} <span *ngIf="a.books.length>1;">...</span></a>
      </div>
    </td>
    <td>
      <input type="button" value="delete" (click)="delete($event, a.id)"/>
      <!--<input type="button" value="update" (click)="update($event, b.id)"/>-->
    </td>
  </tr>
</table>
