<h2>Book List</h2>

<table border="1" class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Book Name</th>
    <th scope="col">Genre</th>
    <th scope="col">Release Year</th>
    <th scope="col">Authors</th>
  </tr>
  </thead>
  <tr *ngFor="let b of books">
    <td>{{b.bookName}}</td>
    <td>{{b.genre}}</td>
    <td>{{b.releaseYear}}</td>
    <td>
      <div >
        <a routerLink="/authors-list" [queryParams]="{book_id:b.id}">{{b.authors[0].firstName}} {{b.authors[0].lastName}} <span *ngIf="b.authors.length>1;">...</span></a>
      </div>
    </td>
  </tr>
</table>
