<span class="header float-left">Book List</span>
<button class="float-right button-plus" routerLink="/book-page">
  <img src="https://cdn2.iconfinder.com/data/icons/arrows-and-universal-actions-icon-set/256/plus_circle-16.png"/>
</button>

<table border="1" class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Book Name</th>
    <th scope="col">Genre</th>
    <th scope="col">Release Year</th>
    <th scope="col">Authors</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tr *ngFor="let b of books">
    <td>{{b.bookName}}</td>
    <td>{{b.genre}}</td>
    <td>{{b.releaseYear}}</td>
    <td>
      <div >
        <a routerLink="/authors-list" *ngIf="b.authors.length>0" [queryParams]="{book_id:b.id}">{{b.authors[0].firstName}} {{b.authors[0].lastName}} <span *ngIf="b.authors.length>1;">...</span></a>
      </div>
    </td>
    <td>
      <button class="delete"  (click)="delete($event, b.id)">
        <img src="https://cdn4.iconfinder.com/data/icons/linecon/512/delete-16.png"/>
      </button>
      <button id="margin" routerLink="/book-page" [queryParams]="{book_id:b.id}">
        <img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/15.Pencil-16.png"/>
      </button>
    </td>
  </tr>
</table>
