<label>Book name<br>
  <input type="text" #bookName [(ngModel)]="book.bookName">
</label>
<br>
<label>Genre <br>
  <input type="text" #genre [(ngModel)]="book.genre">
</label>
<br>
<label>Release Year<br>
  <input type="text" #releaseYear [(ngModel)]="book.releaseYear">
</label>
<br>Authors
<div *ngFor="let n of numbers">
  {{string(selectedAuthors[n])}}
  <select name="Authors" id="authors" [compareWith]="compareAuthor" [(ngModel)]="selectedAuthors[n]" (ngModelChange)="log($event)">
    <option [ngValue]="a" *ngFor="let a of authors"  [selected]="a.id==1" >{{a.firstName}} {{a.lastName}} {{a.id}}</option>
  </select>
</div>
<br>
<input type="button" value="Add" (click)="addAuthor()">
<input type="button" (click)="save()" value="Save">

