<label>
  <input type="text" #bookName (blur)="this.book.bookName = bookName.value">
</label>
<label>
  <input type="text" #genre (blur)="this.book.genre = genre.value">
</label>
<label>
  <input type="text" #releaseYear (blur)="this.book.releaseYear = releaseYear.value">
</label>
<select name="Authors" id="authors" (change)=setAuthors($event.target.value)>
  <option value="{{a.id}}" *ngFor="let a of authors">{{a.firstName}} {{a.lastName}}</option>
</select>
<input type="button" (click)="save()" value="Save">
