<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/authors-list" routerLinkActive="active">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/book-list" routerLinkActive="active">Books</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
<!--<app-authors-list></app-authors-list>
<app-book-list></app-book-list>-->

